.input-wrapper {
    font-family: var(--font-secondary);
    padding-bottom: 8px;
}

.personal-details-label {
    font-size: 16px;
    font-weight: 500;
}

.personal-details-input-text {
    padding: 8px 16px;
    border-radius: 5px;
    border: solid 2px #D3D3D3;
    background: transparent;
    width: 25%;
}

.personal-details-input-text:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

.personal-details-input-text:focus {
    box-shadow: 0 0 5pt 2pt #d3d3d3;
    outline:none;
}

.update-personal-details-button {
    padding: 15px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    margin-right: 16px;
    color: var(--color-bright-primary);
    background: var(--color-secondary);
}
